body {
  background-color: rgb(36, 31, 27);
}

input {
  text-align: center;
}

.below {
  margin-top: 10px;
}

/*NAVBAR*/
.nav {
  position: relative;
  background-color: rgb(100, 93, 77);
  height: 75px;
  color: #bdbdbd;
  border-bottom-style: solid;
  border-width: 0.75px;
}

.nav h3 {
  margin: 15px 15px;
  position: absolute;
}

.projcredentials {
  float: right;
}

.projcredentials > div {
  display: inline-block;
}

.projdrop {
  margin-right: 50px;
}

.projbuttons {
  margin-right: 10px;
}

/*SEQUENCER*/
.sequencer {
  float: left;
  color: white;
  margin-left: 50px;
}

.grid {
  background: rgb(61, 61, 59);
  float: left;
  border-radius: 2%;
  margin-top: 5px;
}

.grid td {
  padding: 4;
}

.row {
  float: left;
  position: relative;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 30%;
  float: left;
  background: grey;
}

.settings {
  float: right;
}

/*NEWPANEL*/
.new {
  float: right;
  margin-right: 20px;
  color: white;
}

.instbuttons {
  max-width: 500px;
}

.instbuttons div {
  margin: 3px 15px 5px 15px;
  border-style: double;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  background-color: #212121;
  display: inline-block;
  font-size: .62em;

}

#bassbutton {color: #8c9eff;}
#leadbutton {color: #80deea;}
#kickbutton {color: #ce93d8;}
#snarebutton {color: #69f0ae;}
#hatbutton {color: #ffd740;}
#samplebutton {color: #ffcc80;}

/*SETTINGSPANEL*/
.settings {
  margin-top: 50px;
  margin-right: 250px;
  padding: 8px;
  border-style: solid;
  border-width: 1.75px;
  border-radius: 5px;
  color: white;
}

.settings .bottom {
  margin-top: 20px;
}

.tempo div {
  display: inline-block;
  margin: 5px;
}

#tempofield {
  font-family: courier;
  font-size: 14px;
  color: black;
  padding: 0;
}

.projbuttons {
}

.projbuttons div {
  color: white;
  border-style: double;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  background-color: grey;
  display: inline-block;
  margin: 10px;
}

.metronome div {
  margin: 5px auto;
}

#metbutton {
  color: white;
  border-style: double;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  background-color: grey;
  margin-top: 20px;
}

#metclock {
  color: rgb(61, 61, 59);
  border-style: solid;
  width: 125px;
  height: 125px;
  text-align: center;
  border-radius: 50%;
  background-color: grey;
}




